<div id="app">
  <svg id="simulation"></svg>
  <div id="controls">
    <div id="data">
        <span style="font-weight: bold">Avg Output Flow Rate:</span> {{ this.avgOutputFlowRate }} <span style="font-weight: bold">Average Exit Speed:</span> {{ this.avgExitSpeed }}
    </div>
    <mat-form-field>
      <input matInput type="number" step="1" placeholder="Booths" [(ngModel)]="numBooths">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" step="1" placeholder="Lanes" [(ngModel)]="numLanes">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" step="10" placeholder="Poisson Rate" [(ngModel)]="poissonRate">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" step="1" placeholder="Lock Time" [(ngModel)]="lockTime">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" step="1" placeholder="Tollbooth Spacing" [(ngModel)]="tollboothSpacing">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" step="10" placeholder="Merge Distance" [(ngModel)]="mergeDistance">
    </mat-form-field>
    <span id="space"></span>
    <button mat-raised-button color="primary" (click)="handleReset()"><mat-icon>refresh</mat-icon></button>
  </div>
</div>
