#simulation {
  width: 100%;
  border: 2px;
  border-color: black;
  border-style: dotted;
  height: calc(100% - 100px);
}

#app {
  width:  calc(100% - 50px);
  margin: auto;
  display: block;
  height: 100%;
}

#controls {
  /* margin: auto; */
  /* display: inline-block; */
}

#data {
  /* display: block; */
  margin-right: 5px;
}

#space {
  /* flex: 1 1 auto; */
}

button {
  margin-left: 5px;
}
